
<!DOCTYPE HTML>
<html>
<head>
    <title>Van Fácil</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="images/van_fácil_logotipo.png"/>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Van Fácil</h1>
            <p> Está com dificuldades para encontrar uma van que te leve e busque na facul? <br>
                Com o Van Fácil é simples, rápido e fácil.
                <br>
                <br>

                Vem com a gente, vamos te mostrar nossos diferenciais!!
            </p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Saiba mais</a></li>
            </ul>
        </div>

    </section>

    <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
        <section>
            <div class="content">
                <div class="inner">
                    <h2>Qual o problema?</h2>
                    <p>O problema é o preço? <br>
                        Disponibilidade? <br>
                        Comodidade? <br>
                        Não sabe qual tem o preço mais acessivel?</p>

                    <br> <br>

                    <p>Bem... Isso não importa! Resolvemos para você.</p>


                </div>
            </div>
        </section>

        <section>
            <div class="content">
                <div class="inner">
                    <h2>Como Funciona?</h2>
                    <p> Com o Van Fácil você seleciona o destino, quais dias irá utilizar o
                        serviço e até mesmo as características que deseja na van,
                        que indicamos as melhores opções dentro das caracteristicas que voce
                        escolheu. Daí é só entrar em contato
                        com o motorista e fechar negócio.
                        Tudo com a maior segurança e rapidez.</p>
                </div>
            </div>
        </section>
    </section>

    <!-- solicitaVaga -->
    <% let locais = ['Belém', 'Eldorado', 'Novo Eldorado', 'Três Barras', 'Riacho das Pedras', 'Darcy Ribeiro', 'Icaiveira'] %>
    <section id="solicitaVaga" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>Solicitar vaga</h2>
            <p>Preencha o formulário abaixo para realizar a solicitação de seu vaga e em breve entramos em contato para mais informações.</p>
                <section>
                    <form method="post" action="/solicitaVaga">
                        <div class="field first">
                            <label for="name">Nome Completo</label>
                            <input type="text" name="name" id="name" placeholder="Nome completo" required/>
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" placeholder="email" required/>
                        </div>
                        <div class="field">
                            <label for="telefone">Telefone</label>
                            <input type="text" name="telefone" id="telefone" placeholder="Telefone de contato" required/>
                        </div>
                        <div class="field">
                            <label for="localDestino">Local de Destino</label>
                            <select name="localDestino" id="localDestino" required>
                                <option value="default">Selecionar</option>
                                <% for(let i = 0; i < locais.length; i++) { %>
                                    <option value="<%=locais[i]%>"><%=locais[i]%></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="field">
                            <input type="submit" class="button submit" value="Solicitar Vaga" />
                        </div>
                    </form>
                </section>
        </div>
    </section>

    <!-- two -->
    <section id="two" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Fale Conosco</h2>
            <p>Se voce gostou da nossa ideia, e quer investir ou saber mais sobre nossa proposta, entre em contato
                conosco, para saber mais informações:</p>
            <div class="split style1">
                <section>
                    <form method="post" action="#">
                        <div class="field half first">
                            <label for="name">Nome</label>
                            <input type="text" name="name" id="name"/>
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email"/>
                        </div>
                        <div class="field">
                            <label for="message">Mensagem</label>
                            <textarea name="message" id="message" rows="3"></textarea>
                        </div>
                        <ul class="actions">
                            <li><a href="" class="button submit">Enviar</a></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Email</h3>
                            <a href="#">vanfacilfaleconosco@gmail.com</a>
                        </li>
                        <li>
                            <h3>Social</h3>
                            <ul class="icons">
                                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <li>Design: <a href="https://www.linkedin.com/in/wessimoes">Wesley Simões</a></li>
            <li>Dev: <a href="https://www.linkedin.com/in/wesley-lopes-641550b4/">Wesley Lopes</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
